<section *ngIf="message.type === ChatMessageType.handshakeInitialization
                || message.type === ChatMessageType.handshakeReply; else noHandshake" style="background-color: blue;">
  Handshake received on: {{message.sentAt | date: 'd.M.y h:m'}}
</section>

<ng-template #noHandshake>
  <div class="bubble bubble-{{ isSender ? 'own' : 'foreign' }}">
    <div class="message-container">
      <div [ngSwitch]="message.type">
        <div *ngSwitchCase="ChatMessageType.text">
          {{message.content.toString('utf8')}}
        </div>
        <div *ngSwitchCase="ChatMessageType.voice">
          Voice message
          <!-- TODO calculate length of message and display value -->
          <!-- TODO add voice content to audio player -->
          <audio #audioPlayer controls></audio>
        </div>
        <div *ngSwitchCase="ChatMessageType.handshakeInitialization">
          Handshake init sent
        </div>
        <div *ngSwitchCase="ChatMessageType.handshakeReply">
          Handshake reply sent
        </div>
        <!-- TODO add cases for images, files, etc. -->
        <div *ngSwitchDefault>Unknown message type</div>
      </div>
    </div>

    <div class="status-container">
      <!--<div *ngIf="message.sent">
        <mat-icon class="status-sent">keyboard_backspace</mat-icon>
      </div>
      <div *ngIf="message.delivered">
        <mat-icon class="status-delivered">swap_vert</mat-icon>
      </div>
      <div *ngIf="message.seen">
        <mat-icon class="status-seen">visibility</mat-icon>
      </div>-->
    </div>

    <div class="time-container">
      {{message.sentAt | date: 'H:mm' }}
    </div>
  </div>
</ng-template>
