@import "../../styles/colors";

#logout-container {
  height: 100vh;
  width: 100%;
  display: table;
}

#sub-logout-container {
  display: table-cell;
  vertical-align: middle;
}

#logo {
  margin-bottom: 20px;
}

.input-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logout-headline {
  text-transform: uppercase;
  color: $plainWhite;
  font-size: 1em;
}
