<app-languageselect></app-languageselect>

<div class="auth-container">
  <app-particles></app-particles>
  <div class="auth-sub-container">
    <form>
      <div class="input-wrapper" id="logo">
        <img src="assets/img/eye.svg" alt="img unavailable">
      </div>

      <div class="input-wrapper auth-headline-wrapper">
        <span class="auth-headline">{{ 'auth.logout_successful' | translate }}</span>
        <br>
        <span class="auth-headline">{{ 'auth.logout_redirect' | translate }}</span>
      </div>
    </form>

    <div>
      <app-loading></app-loading>
    </div>

  </div>
</div>
