{
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "camelcase": "warn",
    "comma-style": [
      "error",
      "last"
    ],
    "constructor-super": "warn",
    "global-require": "warn",
    "indent": [
      "error",
      2
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ],
        "allowSeparatedGroups": false
      }
    ],
    "valid-typeof": "warn",
    "strict": [
      "error",
      "global"
    ],
    "eqeqeq": [
      "error",
      "always"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "prefer-const": "error",
    "max-nested-callbacks": [
      "warn",
      3
    ]
  }
}
