@import "../../../../../../styles/colors";

table {
  border-collapse: collapse;
  border-spacing: 0 !important;
  width: 100%;
  color: $plainWhite;
  table-layout: auto;
  padding-top: 30px;
}

tr {
  width: 100%;
}

td {
  padding: 8px;
  min-width: 200px;
  width: 100%;
}
