<app-languageselect></app-languageselect>

<div class="auth-container">
  <app-particles></app-particles>
  <div class="auth-sub-container">
    <form>
      <div class="input-wrapper" id="logo">
        <img src="assets/img/eye.svg" alt="img unavailable">
      </div>

      <div class="input-wrapper auth-headline-wrapper">
        <span class="auth-headline">{{ 'auth.enter_details' | translate }}</span>
      </div>

      <div class="input-wrapper">
        <input
          [(ngModel)]="hostname"
          name="domain"
          class="custom-input-field"
          id="custom-input-field-type-2"
          placeholder="{{ 'auth.domain' | translate }}"
          (focusout)="checkForInviteTokenRequired()"
        />
        <input
          [(ngModel)]="port"
          name="port"
          class="custom-input-field"
          id="custom-input-field-type-3"
          type="number"
          min="1"
          max="65535"
          placeholder="{{ 'auth.port' | translate }}"
          (focusout)="checkForInviteTokenRequired()"
        />
      </div>

      <div class="input-wrapper">
        <input
          [(ngModel)]="username"
          name="username"
          class="custom-input-field wide-input-field"
          class="custom-input-field wide-input-field"
          placeholder="{{ 'auth.username' | translate }}"
        />
      </div>

      <div class="input-wrapper">
        <input
          [(ngModel)]="password"
          name="password"
          class="custom-input-field wide-input-field"
          type="password"
          placeholder="·········"
        />
      </div>

      <div class="input-wrapper">
        <input
          [(ngModel)]="passwordConfirm"
          name="password_confirm"
          class="custom-input-field wide-input-field"
          type="password"
          placeholder="{{ 'auth.confirm_password' | translate }}"
        />
      </div>

      <div class="input-wrapper" *ngIf="inviteCodeRequired">
        <input
          [(ngModel)]="inviteCode"
          name="inviteCode"
          class="custom-input-field wide-input-field"
          type="text"
          placeholder="{{ 'auth.invite_code' | translate }}"
        />
      </div>

      <div class="input-wrapper">
        <button
          (click)="register()"
          class="custom-button"
          [disabled]="password !== passwordConfirm || !password"
        >
          {{ 'auth.register' | translate }}
        </button>
      </div>

      <div class="input-wrapper">
        <a class="auth-anchor" routerLink="/login">{{ 'auth.already_account' | translate }}</a>
      </div>
    </form>
  </div>
</div>
