<mat-sidenav-container id="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened id="sidenav">
    <mat-list>
      <div *ngIf="loadingContacts; else chatList">loading chats...</div>
      <ng-template #chatList>
        <mat-divider class="contact-list-divider"></mat-divider>

        <section style="background-color: #510A32; margin-top: 10px; margin-bottom: 10px; text-align: center;">
          <!-- TODO update color -->
          <!-- TODO implement line below -->
          Avatar and username here
        </section>

        <mat-divider class="contact-list-divider"></mat-divider>

        <div style="margin-top: 10px"></div>

        <div style="text-align: center;">
          <input type="text" placeholder="search contact ..." id="search-bar" [(ngModel)]="searchTerm" (change)="searchContacts()" />
        </div>

        <div style="margin-top: 10px"></div>

        <mat-divider class="contact-list-divider"></mat-divider>
        <mat-list-item routerLinkActive="active-list-item" class="contactListItem" *ngFor="let chat of chats">
          <mat-divider class="contact-list-divider"></mat-divider>
          <a class="sidenav-link" [routerLink]="['/', 'chatview', chat.username]" routerLinkActive="active-link-item">
            <div style="width: 100%;">
              <div class="profile-picture">
                <span *ngIf="chat.displayName; else noRealName">{{acronym(chat.displayName)}}</span>
                <ng-template #noRealName>
                  <mat-icon style="margin-top: 7px;">person</mat-icon>
                </ng-template>
              </div>
              <div class="username">
                <div>
                  {{chat.displayName || ('@' + chat.username)}}
                </div>
                <div *ngIf="chat.lastMessage">
                  {{chat.lastMessage.message | slice: 0:50}}
                </div>

              </div>
            </div>
          </a>
          <mat-divider class="contact-list-divider"></mat-divider>
        </mat-list-item>
      </ng-template>
      <span *ngIf="chats.length === 0">No chats logs found.</span>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
