<app-languageselect></app-languageselect>

<div id="login-container">
  <app-particles></app-particles>
  <div id="sub-login-container">
  <form>
    <div class="input-wrapper" id="logo">
      <img src="assets/img/eye.svg" alt="img unavailable">
    </div>

    <div class="input-wrapper">
      <span id="login-headline">{{ 'auth.enter_credentials' | translate }}</span>
    </div>

    <div class="input-wrapper">
      <input
        [(ngModel)]="hostname"
        name="domain"
        class="custom-input-field"
        id="custom-input-field-type-2"
        placeholder="{{ 'auth.domain' | translate }}"
      />
      <input
        [(ngModel)]="port"
        name="port"
        class="custom-input-field"
        id="custom-input-field-type-3"
        type="number"
        min="1"
        max="65535"
        placeholder="{{ 'auth.port' | translate }}"
      />
    </div>

    <div class="input-wrapper">
      <input
        [(ngModel)]="username"
        name="username"
        class="custom-input-field wide-input-field"
        placeholder="{{ 'auth.username' | translate }}"
      />
    </div>

    <div class="input-wrapper">
      <input
        [(ngModel)]="password"
        name="password"
        class="custom-input-field wide-input-field"
        type="password"
        placeholder="·········"
      />
    </div>

    <div class="input-wrapper">
      <button
        (click)="login()"
        class="custom-button"
        [disabled]="username == '' || password == ''"
      >
        {{ 'auth.login' | translate }}
      </button>
    </div>

    <div class="input-wrapper">
      <button
        (click)="forgotPassword()"
        class="custom-button"
      >
        {{ 'auth.forgot_password' | translate }}
      </button>
    </div>

    <div class="input-wrapper">
      <a routerLink="/register">{{ 'auth.no_account' | translate }}</a>
    </div>

  </form>

    <div *ngIf="loggingIn">
      <app-loading></app-loading>
    </div>

  </div>
</div>
