@import "../../styles/colors";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#login-container {
  height: 100vh;
  width: 100%;
  display: table;
}

#sub-login-container {
  display: table-cell;
  vertical-align: middle;
}

#logo {
  margin-bottom: 20px;
}

.input-wrapper {
  width: 100%;
  margin: 0 auto 25px;
  text-align: center;
}

#login-headline {
  text-transform: uppercase;
  color: $plainWhite;
  font-size: 1em;
}

.custom-input-field {
  border-radius: 100px;
  border: none;
  background-color: $plumViolet;
  color: $plainWhite;
  font-size: 1.25em;
  margin-bottom: 10px;
  height: 26px;
}

.custom-input-field::placeholder {
  color: #BB89A6;
}

.custom-input-field-type-1 {
  padding: 5px 5px 5px 15px;
  width: 280px;
}

#custom-input-field-type-2 {
  padding: 5px 5px 5px 15px;
  width: 180px;
}

#custom-input-field-type-3 {
  padding: 5px;
  width: 70px;
  margin-left: 20px;
  text-align: center;
}

.wide-input-field {
  padding: 5px 5px 5px 15px;
  width: 280px;
}

a {
  color: $coralRed;
  text-decoration: none;
}
