@import "../../../../../../styles/colors";


.reasons-container {
  display: flex;
  flex-wrap: nowrap;
}

table {
  border-collapse: collapse;
  border-spacing: 0 !important;
  width: 100%;
  color: black; // TODO White
  table-layout: auto;
}

tr {
  width: 100% !important;
  padding: 20px;
  overflow: hidden;
  border-bottom: 10px solid transparent;
}

td {
  text-align: left;
  width: 100%;
  min-width: 30%;
  color: $plainWhite;
  padding: 18px;
  background: $boysenberry;
}
td:first-child {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.value {
  width: 250px;
}

.add-entry {
  width: 823px;
  text-align: center;
}

.add-entry:hover {
  .add-entry-icon {
    color: $green;
  }
  cursor: pointer;
}

.add-entry-icon {
  font-size: 53px;
  height: 53px;
  width: 53px;
}


.button-container {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  float: right;
}

.fab-button {
  margin: 0 0 0 15px;
}

.text-field {
  border-radius: 50px;
  background-color: $plumViolet;
  padding: 15px;
  color: $plainWhite;
  width: 80%;
  border: none;
  height: 20px;
}

.text-field::placeholder {
  color: $plainWhite;
}


