<mat-toolbar>
  <span>Connected to:</span>&nbsp;<span id="hostname">{{titp.client?.hostname}}</span>
  <span class="example-spacer"></span>
  <span>©2020 Trale Organization</span>
  <button class="footer-button" (click)="util.navigate('https://github.com/socialstuff-org')">
    <img src="https://cdn.code-lake.com/socialstuff/img/github-logo.png" alt="CDN unavailable" id="github-icon">
  </button>
  <button class="footer-button" (click)="util.navigate('https://trale.org')">
    <mat-icon>language</mat-icon>
  </button>
</mat-toolbar>
