@import "../../../../../styles/colors";

.row {
  position: relative;
  margin: 30px 0px 0px 0px;
  width: 100%;
}

.sub-row {
  position: relative;
  margin: 10px 50px 0px 50px;
  width: 100%;
}

.sub-row:first-child {
  position: relative;
  margin: 30px 50px 0px 50px;
  width: 100%;
}

.report-reasons {
  position: absolute;
  padding-top: 30px;
}

.disabled {
  pointer-events: none;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}
