<mat-toolbar>
  <span>
    <img src="https://cdn.code-lake.com/socialstuff/img/eye.svg" alt="img unavailable" id="trale-logo">
  </span>

  <span id="application-name">Trale Messenger</span>

  <span class="example-spacer"></span>

  <div id="profile-picture" (click)="openContactInfo()" *ngIf="chatPartner">
    <span *ngIf="chatPartner.displayName; else noRealName">{{util.generateAcronym(chatPartner.displayName)}}</span>
    <ng-template #noRealName>
      <mat-icon style="margin-top: 7px;">person</mat-icon>
    </ng-template>
  </div>

  <div id="username" (click)="openContactInfo()" *ngIf="chatPartner">
    <div *ngIf="chatPartner.displayName; else onlyUsername">
      {{chatPartner.displayName}}<br>
      {{chatPartner.username}}
    </div>
    <ng-template #onlyUsername>
      <span style="line-height: 40px;">{{chatPartner.username}}</span>
    </ng-template>
  </div>

  <span class="example-spacer"></span>

  <button
    (click)="addNewContact()"
    style="margin-right: 10px;"
    mat-button
    class="default-button"
  >
    <mat-icon>add</mat-icon>Add contact
  </button>

  <button
    mat-button
    class="default-button"
    style="margin-right: 10px; padding-left: 5px;"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon inline style="font-size: 2em;">arrow_drop_down</mat-icon>
    {{username}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
  <button (click)="logout()" id="logout-btn">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
