<div id="forgot-password-container">
  <div id="sub-forgot-password-container">
    <form action="">
      <div class="input-wrapper" id="logo">
        <img src="assets/img/eye.svg" alt="img unavailable">
      </div>

      <div class="input-wrapper" style="margin-bottom: 25px;">
        <span id="forget-password-headline">please enter your username and email</span>
      </div>
      <div class="input-wrapper">
        <input [(ngModel)]="username" name="username" class="custom-input-field wide-input-field" placeholder="username"/>
      </div>
      <div class="input-wrapper">
        <input [(ngModel)]="email" name="username" class="custom-input-field wide-input-field" placeholder="your@email.com"/>
      </div>
      <div class="input-wrapper">
        <button (click)="reset_password()" class="custom-button">reset password</button>
      </div>
      <div class="input-wrapper">
        <a routerLink="/login">Go back to login</a>
      </div>
      </form>
  </div>
</div>

