@import "~app/styles/colors";

#chat-view-container {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.chat-message-list {
  width: 90%;
  margin: 0 auto;
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}

.message-row {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 100%;
}

.example-viewport {
  margin-top: 20px;
  height: calc(100vh - 300px);
  width: 70%;
  z-index: 100;
}

#message-box-wrapper {
  width: 90%;
  margin: 10px auto 0;
  z-index: 100;
}

#record-button {
  height: 58px;
  width: 55px;
  color: $plainWhite;
  background-color: #ed3330;
  position: relative;
  bottom: 111px;
  border: none;
  border-radius: 50%;
  z-index: 100;
}

#record-button:hover {
  cursor: pointer;
}
#audioButton {
  border: none;
  bottom: 806px;
  z-index: 100;
}
#audioButton:hover {
  cursor: pointer;
}
