<app-header [chatPartner]="chatPartner"></app-header>
<app-sidenav></app-sidenav>

<div id="chat-view-container">
  <div class="chat-message-list">
    <audio id="audioButton" controls #audioPlayer type="audio/webm;codecs=opus" >
      type="audio/webm;codecs=opus"
    </audio>
    <app-message-box style="z-index: 100;"></app-message-box>

    <cdk-virtual-scroll-viewport [itemSize]="100" class="example-viewport" style="z-index: 100">
      <div *cdkVirtualFor="let message of messages;">
        <div class="message-row">
          <app-chat-bubble [message]="message"></app-chat-bubble>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

  </div>
<div>
  <button (click)="toggleRecording()" id="record-button">{{recordOption}} Audio </button>
</div>
<div>

</div>
</div>


<app-footer></app-footer>
