<app-header></app-header>

<mat-sidenav-container id="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened id="sidenav">
    <mat-list>

      <div style="margin-top: 10px"></div>

      <div style="text-align: center;">
        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="search contact ...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div style="margin-top: 10px"></div>

      <mat-divider class="contact-list-divider"></mat-divider>

      <mat-list-item routerLinkActive="active-list-item" class="contactListItem" *ngFor="let chat of chats">
        <mat-divider class="contact-list-divider"></mat-divider>
        <a class="sidenav-link" [routerLink]="['/chat']" routerLinkActive="active-link-item">
          <div style="width: 100%;">
            <div class="profile-picture">
              <span *ngIf="chat.realName; else noRealName">{{chat.acronym}}</span>
                <ng-template #noRealName>
                  <mat-icon style="margin-top: 7px;">person</mat-icon>
                </ng-template>
            </div>
            <div class="username">
              <div *ngIf="chat.realName; else onlyUsername">{{chat.realName}}<br>
                @{{chat.username}}
              </div>
              <ng-template #onlyUsername>
                <span style="line-height: 40px;">@{{chat.username}}</span>
              </ng-template>
            </div>
          </div>
        </a>
        <mat-divider class="contact-list-divider"></mat-divider>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer id="footer"></app-footer>
