<div id="wrapper" *ngIf="chatPartner">

  <div style="margin-top: 75px;"><!-- SPACER --></div>

  <div>
    <button (click)="closeContactInfo()" id="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div id="image-section">
    <img src="" alt="IMG unavailable" id="contactImage">
    <div style="margin-top: 20px;"><!-- SPACER --></div>
    <div id="realName" *ngIf="chatPartner.displayName">{{chatPartner.displayName}}</div>
    <br>
    <div id="username">{{chatPartner.username}}</div>
  </div>

  <div style="margin-top: 20px;"><!-- SPACER --></div>
  <mat-divider class="contact-info-divider"></mat-divider>
  <div style="margin-top: 20px;"><!-- SPACER --></div>

  <div id="media-section">
    <span id="media-link">Media, links and documents</span>
    <br>

    <div id="media-preview">
      <!-- TODO implement media preview section -->
    </div>
  </div>

  <div style="margin-top: 20px;"><!-- SPACER --></div>
  <mat-divider class="contact-info-divider"></mat-divider>
  <div style="margin-top: 20px;"><!-- SPACER --></div>

  <section id="notifications">
    <span>Notification Settings</span>
    <div style="margin-top: 10px;"><!-- SPACER --></div>
    <ul>
      <li>
        <input type="checkbox" class="checkbox-margin" id="receiveNotifications"/>
        <label for="receiveNotifications">Receive notifications</label>
      </li>
      <li>
        <input type="checkbox" class="checkbox-margin" id="readReceipts" [disabled]="true" />
        <label for="readReceipts">Enable read recipient (coming soon)</label>
      </li>
    </ul>
  </section>

  <div style="margin-top: 20px;"><!-- SPACER --></div>
  <mat-divider class="contact-info-divider"></mat-divider>
  <div style="margin-top: 20px;"><!-- SPACER --></div>


  <div id="information">
    <span>Username</span>
    <div style="margin-top: 10px;"><!-- SPACER --></div>
    <span>
      {{chatPartner.username}}
    </span>
  </div>

</div>
