// IMPORTS
// TODO fix imports
// @import url(app/styles/colors.scss);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// END OF IMPORTS

// COLOR DEFINITION
$elderberry: #21142D;
$plumViolet: #510A32;
$boysenberry: #801336;
$frenchRasperry: #C72C41;
$coralRed: #EE4540;
$operaMauve: #BB89A6;
$plainWhite: #ffffff;

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $elderberry;
  color: $plainWhite;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.default-button {
  background-color: $coralRed;
  color: $plainWhite;
  border: none;
  border-radius: 3px;
  height: 40px;
}

// MAT INPUT STYLES
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
  color: $plainWhite !important;
}

textarea:focus, input:focus{
  outline: none;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background-color: rgb(33, 20, 45, 0.75) !important;
}

.swal2-modal {
  background-color: #21142D !important;
  color: #ffffff !important;
}

.swal2-title {
  font-weight: normal !important;
  color: #ffffff !important;
}

.swal2-content {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #ffffff !important;
}
