/* You can add global styles to this file, and also import other style files */

// IMPORTS
@import 'assets/styles/colors';
@import 'assets/styles/trale-theme';
// END OF IMPORTS

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#body {
  background-color: $elderberry;
  color: $plainWhite;
}

.hover::selection {
  background-color: $coralRed;
}

// Input field: Remove de/increase buttons on input field with type number

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Angular Material Global Styles

.mat-toolbar {
  color: inherit;
  font-size: 1em;
}

.mat-drawer {
  color: inherit;
}

.mat-drawer-container {
  color: inherit;
  background-color: inherit;
}

.mat-dialog-container {
  color: inherit;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* Chrome and Safari */
  background-size: cover; /* Other browsers */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.default-button {
  background-color: $coralRed;
  color: $plainWhite;
  border: none;
  border-radius: 3px;
  height: 40px;
}

.custom-button {
  border-radius: 100px;
  border: none;
  background-color: $coralRed;
  color: $plainWhite;
  font-size: 1em;
  height: 36px;
  width: 300px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.hover:hover {
  cursor: pointer;
  box-shadow: 0 0 10px $coralRed;
}

.custom-button:disabled {
  background-color: #732423;
  color: #737373;
  cursor: default;
  box-shadow: none;
}

.custom-input-field {
  border-radius: 100px;
  border: none;
  background-color: $plumViolet;
  color: $plainWhite;
  font-size: 1.25em;
  margin-bottom: 10px;
  height: 26px;
}

.custom-input-field::placeholder {
  color: #BB89A6;
}

.custom-input-field-type-1 {
  padding: 5px 5px 5px 15px;
  width: 280px;
}

#custom-input-field-type-2 {
  padding: 5px 5px 5px 15px;
  width: 180px;
}

#custom-input-field-type-3 {
  padding: 5px;
  width: 70px;
  margin-left: 20px;
  text-align: center;
}

.wide-input-field {
  padding: 5px 5px 5px 15px;
  width: 280px;
}

// Titlebar

.titlebar-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  // border: 1px solid $coralRed !important;
  border: none;
}

.titlebar-button:hover {
  cursor: pointer;
}

// End of titlebar

// Angular Material Input

mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
  color: $plainWhite !important;
}

textarea:focus {
  outline: none;
}

input:focus{
  outline: none !important;
  box-shadow: 0 0 10px $coralRed;
}

button:focus {
  outline: none;
}

.shadow button:focus {
  box-shadow: 0 0 10px $coralRed;
}

// End of Angular Material Input

// SweetAlert2

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background-color: #21142D !important;
}

.swal2-modal {
  background-color: #21142D !important;
  color: #ffffff !important;
}

.swal2-title {
  font-weight: normal !important;
  color: #ffffff !important;
}

.swal2-content {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #ffffff !important;
}

// End of SweetAlert2

// Angular Material Menu

.mat-menu-content {
  background-color: #21142D !important;
  border: 1px solid #ed3330 !important;
}

.mat-menu-item {
  color: #ffffff !important;
}

.mat-menu-item:hover {
  color: #ed3330 !important;
}

// End of Angular Material Menu

// Language Menu

.lang-icon {
  width: 25px;
  vertical-align: middle;
}

// Authentication components

.auth-container {
  height: 100vh;
  width: 100%;
  display: table;
}

.auth-sub-container {
  display: table-cell;
  vertical-align: middle;
}

.auth-headline-wrapper {
  margin-bottom: 25px;
}

.auth-headline {
  text-transform: uppercase;
  color: $plainWhite;
  font-size: 1em;
}

.auth-anchor {
  color: $coralRed;
  text-decoration: none;
}

.input-wrapper {
  width: 100%;
  text-align: center;
}

#logo {
  margin-bottom: 20px;
}

// End of authentication components

// ParticlesJS

#particles-js {
  width: 100%;
  height: calc(100vh - 40px);
  margin-top: 40px;
  position: absolute;
  top: 0;
  z-index: -1;
}
