<div>
  <app-headline headerText="Security"></app-headline>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="settings.two_factor_auth.on">2 Factor authentication</mat-slide-toggle>
    <div class="sub-row">
      <mat-slide-toggle [disabled]="!settings.two_factor_auth.on" [(ngModel)]="settings.two_factor_auth.phone">Phone</mat-slide-toggle>
    </div>
    <div class="sub-row">
      <mat-slide-toggle [disabled]="!settings.two_factor_auth.on" [(ngModel)]="settings.two_factor_auth.email">Email</mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="settings.confirmed_emails_only">Confirmed emails only</mat-slide-toggle>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="settings.individual_pwd_req.on">Individual password requirements</mat-slide-toggle>
    <div class="sub-group-container">
      <div>
        <div class="sub-row">
          <mat-checkbox [disabled]="!settings.individual_pwd_req.on" [(ngModel)]="settings.individual_pwd_req.upper_case">Upper-case letter</mat-checkbox>
        </div>
        <div class="sub-row">
          <mat-checkbox [disabled]="!settings.individual_pwd_req.on" [(ngModel)]="settings.individual_pwd_req.number">Number</mat-checkbox>
        </div>
        <div class="sub-row">
          <mat-checkbox [disabled]="!settings.individual_pwd_req.on" [(ngModel)]="settings.individual_pwd_req.special_char">Special character</mat-checkbox>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <div class="sub-row">
          <mat-checkbox [disabled]="!settings.individual_pwd_req.on" [(ngModel)]="settings.individual_pwd_req.reg_ex">Must-match regex</mat-checkbox>
        </div>
        <div class="sub-row">
          <input type="text" [disabled]="!settings.individual_pwd_req.reg_ex || !settings.individual_pwd_req.on" [(ngModel)]="settings.individual_pwd_req.reg_ex_string" placeholder="[]" id="search-bar">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="settings.inv_only.on">Invites Only</mat-slide-toggle>
    <div class="sub-row">
      <mat-slide-toggle [(ngModel)]="settings.inv_only.inv_only_by_adm">Only by Admin</mat-slide-toggle>
    </div>
  </div>
</div>
