<div>
  <app-headline headerText="Security"></app-headline>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="twoFactAuth">2 Factor authentication</mat-slide-toggle>
    <div class="sub-row">
      <mat-slide-toggle [(ngModel)]="twoFactAuthPhone">Phone</mat-slide-toggle>
    </div>
    <div class="sub-row">
      <mat-slide-toggle [(ngModel)]="twoFactAuthMail">Email</mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="confirmedMailOnly">Confirmed emails only</mat-slide-toggle>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="individualPassReq">Individual password requirements</mat-slide-toggle>
    <div class="sub-group-container">
      <div>
        <div class="sub-row">
          <mat-checkbox [(ngModel)]="reqUpperCase">Upper-case letter</mat-checkbox>
        </div>
        <div class="sub-row">
          <mat-checkbox [(ngModel)]="reqNumber">Number</mat-checkbox>
        </div>
        <div class="sub-row">
          <mat-checkbox [(ngModel)]="reqCharacter">Special character</mat-checkbox>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <div class="sub-row">
          <mat-checkbox [(ngModel)]="ownRegex">Must-match regex</mat-checkbox>
        </div>
        <div class="sub-row">
          <input type="text" [(ngModel)]="reqRegex" placeholder="/[.*+\-?^${}()|[\]\\]/g, '\\$&'" id="search-bar">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-slide-toggle [(ngModel)]="invitesOnly">Invites Only</mat-slide-toggle>
    <div class="sub-row">
      <mat-slide-toggle [(ngModel)]="invitesOnlyByAdmin">Only by Admin</mat-slide-toggle>
    </div>
  </div>
</div>
